@{
    Layout = null;
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <style>
        .btn a {
            color: white;
            text-decoration: none;
        }

        body {
            background-color: #f1f1f1;
        }
    </style>
</head>
<body>
    <div class="text-center">
        <h2>The party is tonight.</h2>

        <partial name="IncrementCount" />

        @Html.ActionLink("Log In", "Login")
        @Html.ActionLink("Log Off", "Logoff")
        <partial name="DisplayLoginName" />

        <h3>And you're invited</h3>

        <div class="btn btn-success">
            @Html.ActionLink("RSVP Now", "RsvpForm")
        </div>

        <!--Added a button to go to Product-->
        <div class="btn btn-success">
            @Html.ActionLink("My Product", "Product")
        </div>

        <!--Added a button to go to Products-->
        <div class="btn btn-success">
            @Html.ActionLink("My List of Products", "Products")
        </div>

    </div>
</body>
</html>